* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.login-form {
  background: url(../Login_Page/img/bc.png);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 60px;

}

.container {
  width: 100%;
  max-width: 400px;
}

.form-box {
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo {
    width: 50px;
    heig
}

.subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.user-type {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.user-type button {
  border: 1px solid #1e73be;
  background: none;
  color: #1e73be;
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.user-type button.active,
.user-type button:hover {
  background: #1e73be;
  color: #fff;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

.signup-btn {
  width: 100%;
  background: #1e73be;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
}

.signup-btn:hover {
  background: #125ea4;
}

.login-text {
  margin-top: 15px;
  font-size: 14px;
}

.login-text a {
  color: #1e73be;
  text-decoration: none;
  font-weight: bold;
}